h1 {
    text-align:center;
}

h2 {
    text-align: center;
}


.bodyStyle {
    font-family: Montserrat, sans-serif;
    background-color: #efefef;
    color: #212a28;
}

/*
a {
    color: #0868d0;
}
*/

.dataTable {
    width:100%;
}
  
.dataTable td {
    border: 1px grey solid;
    padding: 10px;
}

.dataTable th {
    border: 1px grey solid;
    background-color: #bfbfbf;
    font-weight: bold;
    padding: 10px;
}

.rowIsForChosenTeam {
    background-color: #ffedae;
}

.linkBar {
    background-color: #f4f4f4;
    color: #384D48;
    padding: 5px;
}

.chosenTeamHighlight {
    background-color: #ffedae;
}

.matchSimTeamName {
    font-size: 24px;
}