<html>
    <a href="/">Standings</a> - 
    <a href="/match_sim">Match Sim</a>
    <body>
        <h1>Standings</h1>
        <table>
            <thead>
                <th>Team</th>
                <th>Wins</th>
                <th>Losses</th>
            </thead>
            <tbody>
                <% for(var i=0; i < teamList.length; i++) { %>
                    <tr>
                        <td><%= teamList[i].team_name %></td>
                        <td><%= teamList[i].wins %></td>
                        <td><%= teamList[i].losses %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <ul>
            
        </ul>

</body>
</html>