<div class="linkBar">
    <div class="row">
      <div class='col-9' align="left">
        <a href="/home/">Home</a> -
        <a href="/finances/">Finances</a> -
        <a href="/standings/">Standings</a> -
        <a href="/match_sim/">Match Sim</a> -
        <a href="/stats/">League Stats</a> - 
        <a href="/match_history/">Match History</a> - 
        <a href="/playoffs/">Playoffs</a>
    </div>
  </div>
</div>