<div class="linkBar">
    <div class="row">
      <div class='col-9' align="left">
        <a href="/">Standings</a> -
        <a href="/match_sim/">Match Sim</a> -
        <a href="/stats/">League Stats</a>
    </div>
  </div>
</div>