<html>
    <a href="/">Standings</a> - 
    <a href="/match_sim">Match Sim</a>
    <body>
        <h1>Match Sim</h1>
    </body>
    <p>Team 1: <%= twoTeams[0].team_name %></p>
    <p>Team 2: <%= twoTeams[1].team_name %></p>
</html>