<%- include('header') -%>

<%- include('links') -%>
<body class="bodyStyle">
    <h1>Trade Completed</h1>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-4">
                <p>You Receive:</p>
                <p>Player ID <%= tradeOtherPlayer.playerID %></p>
            </div>
            <div class="col-4">
                <p>They Receive:</p>
                <p>Player ID <%= tradeYourPlayer.playerID %></p>
            </div>
        </div>
        
    </div>
</body>
</html>